<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h1 class="white">My Cart</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well well-lg bg-info">
      <% @line_items.each do |line_item| %>
        <li class="list-group-item list-group-item-success"><strong><%= line_item.course.name %></strong></li>
        <li class="list-group-item list-group-item-success"><%= number_to_currency line_item.course.price %></li>
        <li class="list-group-item list-group-item-success">Qty: <%= line_item.quantity %></li>
        <li class="list-group-item list-group-item-success">Subtotal: <%= number_to_currency line_item.line_item_total %></li>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-success" %><br>
    </div>
    <br>
  </div>
</div>



